<div class="container px-6 mx-auto grid">
  <!-- Inputs with icons -->
  <h4 class="my-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    Email Setting
  </h4>
  <%= render "shared/alerts" %>
  <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
  <%= form_with(url: { action: :submit }) do |f| %>
      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
          Date range (to get your twitter feeds from)
        </span>
        <div class="flex flex-no-wrap sm:flex-wrap md:flex-wrap-reverse lg:flex-no-wrap xl:flex-wrap">
          <%= render partial: "shared/calendar", locals: { label: "Start Date", key: "start_date" } %>
          <%= render partial: "shared/calendar", locals: { label: "End Date", key: "end_date" } %>
        </div>
      </label>

      <label class="block mt-4 text-sm">
        <span class="text-gray-700 dark:text-gray-400">
          Email
        </span>
        <input
          class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
          type="email"
          placeholder="test@gmail.com"
          name="settings[email]"
          value="<%= session.dig(:email) %>"
        />
        <span class="text-xs text-gray-600 dark:text-gray-400">
          Please provide a valid email address.
        </span>
      </label>
      <%= f.submit "Submit", class: "mt-6 px-10 py-4 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" %>
    <% end %>
  </div>
</div>
